<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="Assets/style/style.css">


  <title>MININS</title>
</head>

<body>


  <section id="header">

    <nav>
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top pb-2 nav-old">
        <a class="navbar-brand" href="#">MININS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link active pr-5" href="#why-us">Why us? <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active pr-5" href="#">Who are we?</a>
            <a class="nav-item nav-link active pr-5" href="#">Contact</a>

            <a href="/login"><button type="button" class="btn-old">Login</button></a>
          </div>
        </div>
      </nav>
    </nav>

    <div class="container h-100">
      <div class="row h-100">
        <div class="col  d-flex align-items-center justify-content-center">
          <div class="container-fluid">
            <h1>
              A new car shouldn't <br>be handled with care.
            </h1>
            <p>
              We make insurance easy for your clients.
            </p>

            <button type="button" class="btn-old">Contact us</button>

          </div>
        </div>
      </div>
    </div>

  </section>

  <section id="why-us">
    <div class="container-fluid">
      <h2 class="sec-head">
        Why us?
      </h2>
      <div class="container-fluid categories">
        <div class="row">

          <div class="col">
            <div class="cards">
              <div class="row">
                <i class="material-icons md-70">
                  check
                </i>
              </div>
              <div class="row">
                <h3>Quick and easy</h3>
              </div>
              <div class="row">
                <P>We make It easy for our clients to <br>apply for insurance by ditching the <br>lengthy traditional
                  system and
                  opting <br>for a much more effective approach</P>
              </div>
            </div>

          </div>


          <div class="col">
            <div class="row">
              <i class="material-icons md-70">
                business
              </i>
            </div>
            <div class="row">
              <h3>Partner benifits</h3>
            </div>
            <div class="row">
              <P>Become a MININS parnter and start <br>simplifying your clients insurance <br>application, while gaining
                some
                benifits. </P>
            </div>
          </div>


          <div class="col">
            <div class="row">
              <i class="material-icons md-70">
                person
              </i>
            </div>
            <div class="row">
              <h3>Get the best deal for you</h3>
            </div>
            <div class="row">
              <P>Align and compare the best insurance <br>packadges for you, side by side. <br>Making sure that your
                make the
                right choice.</P>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>

  <section id="call-to-action">


    <div class="container info">
      <div class="row">
        <div class="col img">
          <img src="Assets/img/stop.jpg" alt="">
        </div>
        <div class="col text">
          <h3>No more wrong decisions.</h3>
          <p>Never make a mistake by selceting the wrong insurance provider. We only offer the best and most trusted
            ISP's to our clients liking.</p>
        </div>
      </div>
    </div>
    <div class="container info">
      <div class="row">
        <div class="col img">
          <img src="Assets/img/compare.jpg" alt="">
        </div>
        <div class="col text">
          <h3>View and compare, in seconds.</h3>
          <p>Manage all your insurance related information in one place. Not happy? switch and apply to alternate
            insurance companys within a few clicks.</p>
        </div>
      </div>
    </div>
    <div class="container info">
      <div class="row">
        <div class="col img">
          <img src="Assets/img/manage.jpg" alt="">
        </div>
        <div class="col text">
          <h3>One place to manage it all.</h3>
          <p>Never make a mistake by selceting the wrong insurance provider. We only offer the best and most trusted
            ISP's for our clients liking.</p>
        </div>
      </div>
    </div>



  </section>




  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="Assets/script/navbar-script.js"></script>
</body>

</html>